#coins {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.media {
    width: 400px;
    border-radius: 20px;
    padding: 24px;
    margin: 32px;
}

.media:hover {
    background-color: aliceblue;
}